<button type="button" class="btn btn-primary" ng-click="shiftMonth('left')">Month Left</button>
<button type="button" class="btn btn-primary" ng-click="shiftMonth('right')">Month Right</button>
<div ui-grid="gridOptions" class="myGrid"></div>





